.leave {
  padding-top: 15px;
}

.btn__container {
  margin-bottom: 20px;
  text-align: center;
}

.addBtn {
  height: 48px;
  border: 1px solid var(--theme);
  border-radius: 8px;
  background-color: #fff;
  color: var(--theme);
}

.query__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.modal-footer {
  background-color: black;
  justify-content: center;
}

.submit__btn {
  height: 48px;
  border: 1px solid var(--theme);
  border-radius: 8px;
  margin-top: 10px;
  background-color: #fff;
  color: var(--theme);
  width: 35% !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.query-container {
  border: 2px solid #f0efff;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.query-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.position-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin-left: 500px;
}

.secondaryGreyTextColor {
  color: var(--secondary);
}

.marktag {
  background-color: #f0efff;
  padding: 8px;
  border-radius: 4px;
}
.marktag_close {
  background-color: #f0efff;
  border: 1px solid #ff9a28;
  color: #ff9a28;
  border-radius: 5px;
  padding: 10px 15px;
  width: 25% !important;
}
@media (max-width: 576px) {
  .query-container {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
  }

  .position-right {
    align-items: flex-start; /* Align items to the start on small screens */
  }
}
