.syllabus {
  padding: 20px;
  margin-left: 575px;
}

.syllabus__container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}

.doc {
  margin-bottom: 20px;
}

.doc__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.download__syllabus {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
}

.download__syllabus:hover {
  color: #0056b3;
}

.pdf__viewer {
  margin-top: 20px;
  width: 100%;
  height: 600px;
}

.pdf__viewer iframe {
  width: 100%;
  height: 100%;
  border: none;
}
