/* dashboard.css */

.dashboard {
    padding-top: 2rem;
  }
  
  .activities-container {
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 10px;
    color: var(--theme);
  }
  
  .activities-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .activity-card {
    min-width: 500px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.078);
    color: var(--theme);
    transition: 0.3s;
  }
  
  .activity-card:hover {
    box-shadow: 0 0 5px #000;
  }
  
  .activity-title {
    text-align: center;
    color: var(--secondary);
  }
  
  .activity-score {
    font-size: 48px;
    font-weight: 500;
    color: var(--green);
  }
  
  .view-button {
    border: 1px solid var(--theme);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--theme);
    transition: 0.3s;
  }
  
  .view-button:hover {
    background-color: var(--theme);
    color: #fff;
  }
  