.task-url {
    text-decoration: none;
    color: black;
    transition: color 0.3s, letter-spacing 0.3s;
}

.task-url:hover {
    color: var(--theme); /* Update with your desired theme color */
    letter-spacing: 1px;
}

.task-evaluation-url {
    margin-bottom: 20px; /* Adjust margin as needed */
}
