.roadmap {
  min-height: calc(100vh - 120px);
  transition: 0.3s;
}
.roadmap .left {
  padding: 5px;
  flex: 1;
  transition: 0.3s;
}
.main__container {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
}
.class__head {
  background: #4b0dba;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.play__btn {
  height: 48px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #2ed16c;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
.class__head.d-flex.px-3.justify-content-between.align-items-center
  h3.classhead {
  background-color: var(--theme);
  color: #fff;
  font-size: 1.4375rem !important;
  border-radius: 8px;
  height: 80px;
  padding: 25px 8px;
}
.play__btn:hover {
  transform: scale(1.1);
}

.recording__link {
  text-decoration: none;
  word-wrap: break-word;
  transition: 0.3s;
  color: inherit;
}

.recording__link:hover {
  color: var(--theme) !important;
  text-shadow: 0 0 1px #000;
}

.session__container {
  width: 100%;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.session__area {
  margin: 20px;
}

.session__details {
  color: var(--secondary);
}

.session__title {
  font-weight: 500;
  word-wrap: break-word;
  font-size: 24px;
}

.session__content {
  font-weight: 500;
}

.session__content__details {
  font-size: 14px;
  padding-left: 20px;
}

.roadmap__container {
  margin-top: 5px;
}

.roadmap__area {
  position: relative;
  border: 1px solid #dedede;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  width: 386px;
}

.progress__head {
  height: 49px;
  background: #f7f5fc;
  border-radius: 8px 8px 0 0;
  padding: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--secondary);
}

.sessionsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  padding: 16px 32px;
}

.roadmap_icon_container {
  border: 2px solid #4b0dba;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.direction {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.roadmap_icon_container:hover {
  box-shadow: 0 0 15px 2px var(--green);
  transform: scale(1.1);
}

h6 {
  padding-top: 8px;
}

.roadmap_icon_container.completed {
  background-color: #4b0dba;
  color: #fff;
}

.step__left,
.step__right,
.step__bottom {
  position: absolute;
  background-color: #93a4b7;
}

.step__left {
  left: 35px;
  top: 50%;
  height: 2px;
  width: 32px;
}

.step__right {
  left: 35px;
  top: 50%;
  height: 2px;
  width: 32px;
}

.step__bottom {
  left: 50%;
  bottom: -20px;
  width: 2px;
  height: 20px;
}
.roadmap_icon_container:hover .step__right {
  width: 24px;
}

.activity {
  color: #4b0dba;
  font-weight: 500;
  font-size: 24px;
  padding-left: 10px;
}

.task__link {
  max-width: 90%;
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--secondary);
}

.task__toggle {
  display: block;
  background-color: var(--theme);
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  color: white; /* Ensure the color is explicitly set */
}

.task__toggle svg {
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.task__toggle.rotate-down svg {
  transform: rotate(180deg);
}
.task__toggle.text-white {
  --bs-text-opacity: none !important; /* Use !important if necessary */
}
.tagsList {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 10px;
}

.tagTitle {
  font-weight: 400;
}
.tagItem {
  border: 2px solid #231f20;
  padding: 0 12px;
  border-radius: 80px;
  background-color: #68baae;
  font-size: 14px;
  color: #fff;
}
.card-body {
  padding: 20px 20px;
}
.task-container {
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #ffd3a2;
  border-radius: 8px;
}
.form-container {
  padding: 24px 48px;
}
.submission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.label__style {
  font-weight: 500;
  line-height: 24px;
  color: #7e8e9f;
}

.formInputs {
  border: 1px solid #7e8e9f;
  height: 3.4rem;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  outline: none;
  transition: 0.3s;
}

.formInputs:focus,
.formInputs:hover {
  box-shadow: 0 0 5px var(--theme);
}

.task__submitBtn {
  margin-top: 20px;
}

.task__submitBtn button {
  border: 1px solid #7e8e9f;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: white;
}

.task__submitBtn button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); 
}

.special-day {
  color: red;
  font-weight: bold;
  margin-left: 270px;
  display: inline-block;
}
.text-end {
  text-align: right;
}
.direction.right-shift {
  margin-left: 270px;
}
.special {
  margin-left: 270px;
}

.special .icon-wrapper {
  margin-left: 0;
}
.last-line-container {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  padding-right: 2.4rem;
}

.last-line-container .roadmap_icon_container {
  margin-left: 0;
}

.last-line-container .roadmap_icon_container .direction .step__left {
  left: 35px;
  top: 50%;
  height: 2px;
  width: 32px;
}
