.ForgetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}
.forgotPage .row .d-flex .justify-content-center .align-items-center {
  padding-top: 100px;
}

.top-area {
  padding-top: 150px;
}
.forgotPage .d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forgotPage .Reset__btn {
  color: #fff !important;
  background-color: #007bff;
  border: 1px solid #ced4da;
  max-width: 800px;
  padding: 0.5rem 1rem;
  border-radius: 0.55rem;
  font-size: 1 rem;
}

.forgotPage .login-btn {
  padding: 0.5rem;
  border-radius: 0.55rem;
  font-size: 0.5 rem;
  max-width: 800px;
  text-align: center;
}
.forgotPage .logo {
  width: 120px;
  padding: 0;
  margin: 20px;
  transition: 0.3s;
}

.forgotPage .banner {
  width: 100%;
  height: 100vh;
}

.banner__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .banner__right {
    display: none;
  }

  .forgotPage .img__container {
    display: grid;
    place-items: center;
    margin-bottom: 25px;
  }

  .forgotPage .logo {
    width: 100px;
  }
}
