.portfolio {
  padding-top: 15px;
  margin-left: 75px;
  margin-right: 7px;
}

.portfolio .label__style {
  font-weight: 500;
  font-size: 14px;
  color: var(--secondary);
}

.portfolio__area {
  border-right: 1px solid rgba(128, 128, 128, 0.31);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7e8e9f;
}
.widthfit {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 24px;
}
.portfolio .button {
  height: 48px;
  border: 1px solid var(--theme);
  border-radius: 8px;
  margin-bottom: 18px;
  transition: 0.3s;
}

.portfolio .button:hover {
  background-color: var(--theme);
  color: #fff;
  letter-spacing: 2px;
}

.portfolio .note {
  padding: 5px 25px;
  color: var(--secondary);
  opacity: 0.8;
}

.review__area {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7e8e9f;
}

.review__header {
  color: var(--theme);
  font-size: 24px;
  font-weight: 400;
}

.secondaryGreyTextColor {
  color: var(--secondary);
}

.port_item {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

.port_grey {
  color: #999;
}

.btn_button {
  color: #fff;
  height: 48px;
  background-color: #4b0dba;
  border: 1px solid #4b0dba;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 18px;
  margin-left: 25px;
}
